




body{
 background-image: url("../img/weatherB.jpg");
 background-size: 100%; 

}


#container{
margin: 0, auto;

}


.form {
 padding-top: 30px;
 width:200px;
 margin: auto;


}

.formBox {
 background-color: lightblue;
 width:800px;
 margin: auto;
 margin-top: 100px;
 border-radius: 75px;
 box-shadow: inset 0 0 30px #000000;
 height: 500px;

}

}



.outcome{
width: 200px;
margin:auto;
padding-left: 200px;
padding-bottom: 30px;

}



ul {
	 list-style-type: none;
	 font-size: 25px;
	 padding-right: 50px;
	 font-family: 'Montserrat', sans-serif;
	 text-align: center;

}


li {
	 list-style-type: none;
	 font-size: 45px;
	 margin: auto;
	 font-family: 'Montserrat', sans-serif;

}

h1 {
	font-family: 'Montserrat', sans-serif;


}






