body{
 background-image: url("../img/weather1.jpg");

}


#container{
margin: 0, auto;

}


.form {
 padding-top: 30px;
 width:200px;
 margin: auto;


}

.formBox {
 background-color: lightblue;
 width:500px;
 margin: auto;
 margin-top: 100px;
 border-radius: 75px;
 box-shadow: inset 0 0 30px #000000;
 height: 300px;
}

}



.outcome{
width: 200px;
margin:auto;
padding-bottom: 30px;

}



ul {
	 list-style-type: none;
	 font-size: 25px;
	 padding-left: 100px;
	 font-style: verdana;

}


li {
	 list-style-type: none;
	 font-size: 25px;
	 padding-left: 100px;

}

h3 {
	font-size: 30px;
	padding-left: 40px;
	font-style: verdana;

}


